.resize-vertical {
    resize: vertical;
}

.resize-none {
    resize: none;
}

.fs-6 {
    font-size: .9rem !important;
}

.fs-7 {
    font-size: .75rem !important;
}

.hover-black,
.hover-red {
    cursor: pointer;
}

.hover-black:hover {
    color: black;
}

.hover-red:hover {
    color: red;
}

.fa-eye.active {
    color: black;
}

.hide {
    display: none;
}

.bgc-red {
    background-color: red;
}

textarea {
    height: 150px;
}