.resize-vertical {
    resize: vertical;
}

.resize-none {
    resize: none;
}

.fs-6 {
    font-size: .9rem !important;
}

.fs-7 {
    font-size: .75rem !important;
}

.hoverable {
    cursor: pointer;
}

.hoverable:hover {
    color: black;
}

.fa-eye.active {
    color: black;
}